/*
.color1 { #000706 } black;
.color2 { #00272d } dark;
.color3 { #134647 } mid;
.color4 { #0c7e7e } low;
*/


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1100px;
}

#container{
    height: 80px;
    width: 100%;
    background-color: #00272d;
    color: #0c7e7e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
}

#container2{
    margin-top: 55px;
    height: 980px;
    width: 1100px;
    background-color:#ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px;
}

.insert{
    margin-top: 15px;
    height: 250px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.reslt{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 450px;
    width: 1000px;
   }

#CEP{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border-color: #0c7e7e;
}

#SUB{
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: white;
    transition: 0,9s;
    border-style: solid;
    border-color: #0c7e7e;
    color:black;
    
}

#SUB:hover{
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #0c7e7e ;
    border-style: none;
    box-shadow: 0 0 5px  #0a6a6a;
    color: white;
    
}

#SAV {
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: white;
    transition: 0,9s;
    border-style: solid;
    border-color: #0c7e7e;
    color:black;
}

#SAV:hover{
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #0c7e7e ;
    border-style: none;
    box-shadow: 0 0 5px  #0a6a6a;
    color: white;
    
}



.st_li {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    height: 50px;
    width: 650px;
    background-color: #0a6a6a;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0; 
}

th, td {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; 
    word-wrap: break-word; 
}

th {
    background-color: #f4f4f4; 
    font-weight: bold; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}